body {
  background-color: #222;
  text-align: center;
  font-family: sans-serif;
  color: #fedeef;
}

hr {
  margin: 30px auto;
  max-width: 50%;
}

p {
  max-width: 500px;
  font-size: 20px;
  line-height: 1.5;
  margin: 40px auto;
  text-align: left;
  color: #d0bbd3;
}